
.photo-grid {
    display: grid;
    gap:1rem;
    grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
    grid-auto-rows: 220px;
    grid-auto-flow: dense;
    margin: 2rem;
}

.card {
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.text {
    font-weight: 200;
    align-self: center;
    font-size: 1rem;
}

.highlight{
    background-color: var(--amarelo);
  font-style: italic;
  font-weight: 400;
}

.span3rows {
    grid-row: span 3 /auto;
}

.span3columns {
    grid-column: span 3 / auto;
}
.span2rows {
    grid-row: span 2 /auto;
}

.span2columns {
    grid-column: span 2 / auto;
}

.span4rows {
    grid-row: span 4 /auto;
}

.span4columns {
    grid-column: span 4 / auto;
}

.pointer {
    cursor: pointer;
}

.note {
    text-align: center;
    padding: 2rem;
    margin: 0 auto;
}