/* extralight 200 regular 400 bold 700 black 900 */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

:root {
  --amarelo: #fcec5b;
  --black: #303030;
}

* {
  font-family: "Kanit", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nav {
    display: flex;
    justify-content: center;
}

.nav-list {
    display: flex;
    justify-content:space-evenly;
    list-style-type: none;
    width: 70vw;
    
}

.link {
    margin-top: 30px;
    text-decoration: none;
    
    border-bottom: 2px solid var(--amarelo);
    color: var(--black);
    font-weight: 800;
    transform: rotate(-0.005turn);
    text-transform: uppercase;
  }
  
  .link:hover {
    background-color: var(--amarelo);
    font-style: italic;
  }


  